@import 'partials';

.featuresContainer {
  @include display-config;
  max-width: 1080px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 50px;
  
  .feature {
    @include display-config;
    width: 45%;
    margin: 0 10px;
    align-items: center;

    .featureDescription {
      @include display-config;
      flex-wrap: wrap;
      width: 400px;
    }

    img {
      width: 100px;
      height: 113px;
      object-fit: cover;
      margin-left: 10px;
    }
  }  
}