@import 'partials';

#footer {
  background-color: $light-green;

  .footerContainer {
    @include display-config;
    flex-wrap: wrap;

    h4 {
      font-size: 22px;
      align-items: center;
      color: $white;
    }

    a {
      width: 23%;
      display: flex;
      align-items: center;
      color: $white;
      text-decoration: none;
      margin-right: 10px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }
    }

    .copyRight {
      text-align: center;
      padding: 20px;
      border-top: 1px solid $dark-green;
      color: $white;
      font-weight: 600;
      width: 100%;
    }
  }
}