@import 'partials';

#header {
  @include display-config;
  width: 100%;
  padding: 10px;
  background-color: $white;
  border-bottom: 1px solid $light-gray;

  a {
    text-decoration: none;
    color: $dark-gray;
    font-size: 20px;
  }

  span {
    color: $light-blue;
    width: 100%;
    padding: 10px;
    margin: 10px;
  }

  .link {
    width: 100%;
    padding: 10px;
    margin: 10px;
  }  
}