@import 'partials';

#roomsContainer {
  @include display-config;

  .quarto {
    margin-right: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid $medium-green;
    color: $dark-gray;
    text-align: center;
    text-decoration: none;

    img {
      width: 100%;      
    }
  }

  .quarto:last-child {
    margin-right: 0;
  }
}